<div class="settings-user-info" id="settings-user-info">
  <div class="settings-user-info__view">
    <div class="settings-user-info__row">
      <span class="settings-user-info__label">Почта</span>
      <span class="settings-user-info__value" data-field="email">{{email}}</span>
    </div>
    <div class="settings-user-info__row">
      <span class="settings-user-info__label">Логин</span>
      <span class="settings-user-info__value" data-field="login">{{login}}</span>
    </div>
    <div class="settings-user-info__row">
      <span class="settings-user-info__label">Имя</span>
      <span class="settings-user-info__value" data-field="first_name">{{first_name}}</span>
    </div>
    <div class="settings-user-info__row">
      <span class="settings-user-info__label">Фамилия</span>
      <span class="settings-user-info__value" data-field="second_name">{{second_name}}</span>
    </div>
    <div class="settings-user-info__row">
      <span class="settings-user-info__label">Имя в чате</span>
      <span class="settings-user-info__value" data-field="display_name">{{display_name}}</span>
    </div>
    <div class="settings-user-info__row">
      <span class="settings-user-info__label">Телефон</span>
      <span class="settings-user-info__value" data-field="phone">{{phone}}</span>
    </div>
  </div>
</div>
